alias cn='python -m consilium notes'
alias cs='python -m consilium'
alias mkd='./scripts/mkdocs.sh'
alias sph='./scripts/sphinx.sh'
alias pt='./scripts/pytest-testmon.sh'
alias ptcov='./scripts/pytest-cov.sh'
alias lint='./scripts/lint.sh'
alias format='./scripts/format.sh'
alias bom='cyclonedx-py poetry > sbom.json'
alias update='poetry update && cyclonedx-py poetry > codeqa/sbom.json'
alias deps='python ./scripts/pydeps.py'
alias structure='python ./scripts/structure.py'
alias mypy="mypy --cache-dir .cache/mypy_cache"

export TESTMON_DATAFILE=".cache/testmondata"
export LOG_PERFORMANCE=yes
export LOGURU_LEVEL="WARNING"
