---
site_name: datethyme Documentation
docs_dir: docs/md
site_dir: docs/site
nav:
    - About: index.md
    - Atomic Types:
        - Date: date.md
        - Time: time.md
        - DateTime: datetime.md
    - Range Types:
        - DateRange: daterange.md
        - HourRange: hourrange.md
        - MinuteRange: minuterange.md
        - SecondRange: secondrange.md
        - DayRangeDated: dayrangedated.md
        - HourRangeDated: hourrangedated.md
        - MinuteRangeDated: minuterangedated.md
        - SecondRangeDated: secondrangedated.md
    - Span Types:
        - TimeSpan: timespan.md
        - DateTimeSpan: datetimespan.md
    - Scheduling Types:
        - TimePartition: timepartition.md
        - DateTimePartition: datetimepartition.md
        - ScheduleItem: scheduleitem.md
    - TimeDelta: timedelta.md
    - utils: utils.md
    - scheduling_utils: _scheduling_utils.md
plugins:
    - mkdocstrings:
        enabled: true
        default_handler: python
        handlers:
            python:
                paths:
                    - "./src"
                options:
                    show_signature_annotations: true
                    show_symbol_type_toc: true
                    show_inheritance_diagram: false
                    docstring_section_style: list
                    summary: false
                    show_root_heading: true
                    show_source: false
                    show_submodules: false
                    members: true
                    group_by_category: true
                    separate_signature: true
                    line_length: 60
                    modernize_annotations: true
theme:
    name: material
    palette:
        scheme: slate
        primary: teal
        accent: teal
    highlightjs: false
extra_css:
    - stylesheets/extra.css
markdown_extensions:
    - pymdownx.highlight:
        anchor_linenums: true
        line_spans: __span
        use_pygments: true
        pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
use_directory_urls: true
